@import 'tailwindcss';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
:root {
  color-scheme: light dark;
}
@layer base{
  a {
    color: light-dark(blue, cyan)
  }
  a:hover{
    color:dodgerblue
  }
}